<h1><%= @department.id ? "Edit Department" : "Make New Department" %></h1>
<hr />
<%= form_for @department do |d| %>
    <%= d.label :name %>
    <%= d.text_field :name, required: true, autofocus: true, placeholder: "Name" %>
    <%= d.submit %>
<% end %> 