<h1><%= @item.id ? "Edit Item" : "New Item" %></h1>
<hr />
<%= form_for [@department, @item] do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, required: true, autofocus: true, placeholder: "Name" %>
    <br />
    <%= f.label :price %>
    <%= f.text_area :price, required: true, autofocus: true, placeholder: "Price" %>
    <br />
    <%= f.label :description %>
    <%= f.text_area :description, required: true, placeholder: "describe" %>
    <br />
    <%= f.submit %>
<% end %>